
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to European Airports Listing</h2>

<hr />

<ul>
    <li>
        <a href="/airports/">View Listing</a>
    </li>
    <li>
        <a href="/airports/distance">Calculate Distance</a>
    </li>
</ul>

